# HTTP
PORT=3001

NODE_ENV=DEVELOPMENT

# DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=agents-db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/agents-db

FRONT_END_ORIGIN=http://localhost:5173

# AI
GEMINI_API_KEY=
